# Exclure les fichiers et dossiers générés par Python lors de la compilation
**/__pycache__/
*.pyc

# Exclure les caches de fichiers générés par pytest
*.pytest_cache

# Exclure le dossier env (environnement virtuel Python)
env/

# Exclure le dossier de couverture de code HTML (coverage report)
coverage_html_report/

# Exclure le fichier .env (variables d'environnement)
.env

# Exclure le fichier de configuration de Flake8 (linting Python)
.flake8

# Exclure les rapports de couverture de code (coverage reports)
.coverage

# Exclure le fichier de configuration de couverture de code
.coveragerc

# Exclure le fichier de débogage debug.log
debug.log
