# Exclure les fichiers et dossiers générés par Python lors de la compilation
__pycache__/
*.pyc

# Exclure le dossier .vscode
.vscode/

# Exclure le dossier venv (environnement virtuel Python)
env/

# Exclure les fichiers et dossiers générés par Pytest
.pytest_cache/

# Exclure les fichiers .env .coveragerc coverage et le dossier coverage_html_report
.env
.coveragerc
.coverage
coverage_html_report/
reports/
